In [2]:
import random
import itertools
from scipy.misc import comb, factorial
import numpy as np
import pandas as pd

In [3]:
SUITS = 'cdhs'
RANKS = '23456789TJQKA'
DECK = tuple(''.join(card) for card in itertools.product(RANKS, SUITS))

# What is the probability the 13th card dealt is a King?

In [4]:
N = 50000
sum = 0
for idx in range(N):
    hand = random.sample(DECK, 13)
    if 'K' in hand[-1]:
         sum += 1
sum/N

0.07676

In [5]:
num = np.arange(start=51, stop=51-12, step=-1)
den = np.arange(start=52, stop=52-13, step=-1)
#4 * np.exp(np.sum(np.log(num)) - np.sum(np.log(den)))
ans = 4/52
print(ans)

0.07692307692307693

** Theory **

# Find the probability of the event that the 13th card dealt is the first King dealt. Identify the correct expression.

In [6]:
N = 50000
sum = 0
for idx in range(N):
    hand = random.sample(DECK, 13)
    hand = [x[0] for x in hand]
    last_K = 'K' in hand[-1]
    only_K = 'K' not in hand[0:-1]
    if last_K and only_K:
        sum += 1
sum/N

0.03454

In [7]:
num = 4 * 39 * 38 * 37
den = 52 * 51 * 50 * 49
num/den

0.03375750300120048

In [8]:
4/13 * comb(48, 12)/comb(52, 13)

0.033757503001200478

# Splitting students into 3 classes

In [117]:
def mk_three_groups(num_students=9):
    """simulate making three groups of students"""
    my_class = list(range(0, num_students))
    num_per_class = num_students//3
    
    gp1 = random.sample(my_class, num_per_class)
    rem_class = [x for x in my_class if x not in gp1]

    gp2 = random.sample(rem_class, num_per_class)
    gp3 = [x for x in rem_class if x not in gp2]
    return gp1, gp2, gp3

def in_same_class(groups):
    """ Check if two students are in the same class"""
    succ = False
    for gp in groups:
        succ = (0 in gp) and (1 in gp)
        if succ:
            break
    return succ

In [118]:
num_sim = 10000
num_succ = 0
for i_sum in range(num_sim):
    groups = mk_three_groups(num_students=90)
    if in_same_class(groups):
        num_succ += 1
print(num_succ/num_sim)

0.3323

# Problem 4 Vertical: A three-sided die

In [67]:
num_simu = 15000

xpt = np.random.choice([1, 2, 3], size=(num_simu, 6), p=[0.5, 0.25, 0.25])
df_xpt = pd.DataFrame(xpt)

# count row by row
# https://goo.gl/svhSTC
df = df_xpt.apply(pd.Series.value_counts, axis=1).fillna(0)
df = df.rename(columns={1: 'N1', 2: 'N2', 3: 'N3'})
df.head()

    N1   N2   N3
0  3.0  1.0  2.0
1  2.0  2.0  2.0
2  4.0  1.0  1.0
3  4.0  1.0  1.0
4  3.0  1.0  2.0

## Find the probability that exactly two of the rolls results in a 3.

In [68]:
num = df[df.N3 == 2].shape[0]
den = df.shape[0]

print(num/den)

0.2869333333333333

** Theory **

In [69]:
comb(6, 2) * (1/4)**2 * (3/4)**4

0.296630859375

## Given that exactly two of the six rolls resulted in a 1, find the probability that the first roll resulted in a 1.

** Simulation **

In [70]:
# find all experiments where number of 1's is two
df_given = df_xpt.loc[df.N1 == 2]

In [71]:
df_first = df_given[df_given.loc[:, 0] == 1]

In [72]:
num_simu = df_first.shape[0]
den_simu = df_given.shape[0]

res_simu = num_simu/den_simu
print("{0}/{1} = {2}".format(num_simu, den_simu, res_simu))

1133/3511 = 0.32270008544574197

** Theory **

In [114]:
den_thry = comb(6, 2) * (1/2)**2 * (1/2)**4
num_thry = (1/2) * comb(5, 1) * (1/2)**1 * (1/2)**4

res_thry = num_thry/den_thry
print("{0}/{1} = {2}".format(num_thry, den_thry, res_thry))

0.078125/0.234375 = 0.3333333333333333

## We are told that exactly three of the rolls resulted in a 1 and exactly three rolls resulted in a 2. Given this information, find the probability that the six rolls resulted in the sequence (1,2,1,2,1,2).

In [74]:
df_given = df_xpt.loc[(df.N1 == 3) & (df.N2 == 3)]

In [75]:
df_seq = df_given[(df_given.loc[:,0]==1) & (df_given.loc[:,2]==1) & (df_given.loc[:,4]==1) &
                  (df_given.loc[:,1]==2) & (df_given.loc[:,3]==2) & (df_given.loc[:,5]==2)]

In [76]:
num_simu = df_seq.shape[0]
den_simu = df_given.shape[0]

res_simu = num_simu/den_simu
print("{0}/{1} = {2}".format(num_simu, den_simu, res_simu))

39/648 = 0.06018518518518518

** Theory **

In [77]:
num_thry = (1/2)**3 * (1/4)**3
den_thry = factorial(6)/(factorial(3))**2 * (1/2)**3 * (1/4)**3

res_thry = num_thry/den_thry
print("{0}/{1} = {2}".format(num_thry, den_thry, res_thry))

0.001953125/0.0390625 = 0.05

# Problem 5 Vertical: Hats in a box

## Every person gets his or her own hat back.

In [96]:
num_people = 6
people_list = list(range(0, num_people))

num_simu = 10000
count = 0
for idx in range(num_simu):
    tmp = np.random.choice(people_list, size=num_people, replace=False)
    if list(tmp) == people_list:
        count += 1
print(count/num_simu)

0.0013

** theory **

In [97]:
print(1/factorial(num_people))

0.00138888888889

## Each one of persons 1,…,m gets his or her own hat back, where 1≤m≤n.

In [109]:
num_people = 6
m = 3
people_list = list(range(0, num_people))

num_simu = 10000
count = 0
for idx in range(num_simu):
    tmp = np.random.choice(people_list, size=num_people, replace=False)
    if list(tmp[0:m]) == people_list[0:m]:
        count += 1
print(count/num_simu)

0.0081

** theory **

In [110]:
n = num_people
print(factorial(n-m)/factorial(n))

0.00833333333333

## Each one of persons 1,…,m gets back a hat belonging to one of the last m persons (persons n−m+1,…,n), where 1≤m≤n.